<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 minutes" debug="true">

    <property resource="bundle/logback.properties"/>

    <contextName>${logback.context.name}</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] %class#%M@%line {%msg} %n</pattern>
            <charset class="java.nio.charset.Charset">${log.charset}</charset>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="THRESHOLD_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/threshold_debug.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] %class#%M@%line {%msg} %n</pattern>
            <charset class="java.nio.charset.Charset">${log.charset}</charset>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.zip.dir}/threshold_debug_%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="THRESHOLD_DEBUG"/>
    </root>

</configuration>